.App {
  text-align: left;
}
.main-navbar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
body{
  background-color: rgb(255, 255, 255);
}
.logoimg{
  width: 60px;
  height: 30px;
}
a {
  text-decoration-line: none;
}
.main-banner{
  background-color:rgb(255, 252, 223);
  padding:200px;
  height: 800px;
  align-items: center;
}

.search{
  background-color: rgb(231, 231, 231);
  margin-right: 20px;
  border:rgb(223, 223, 223);
  border-radius: 5px;
  padding: 5px;
  outline:none;
}

.search::placeholder{
  color: rgb(116, 116, 116);
  font-size: 13px;
}

.chatting{
  background-color: white;
  color: black;
  border:rgb(224, 224, 224) 1px solid;
  border-radius: 6px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
}

.chatting:hover{
  background-color: rgb(214, 214, 214);
  border:white;
}



.main-sub{
  color:rgb(107, 107, 107);
  padding-top: 20px;
  padding-bottom :10px;
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
}

.main-title{
  font-weight: bold;
  font-size: 60px;
  overflow: hidden;
  white-space: nowrap;
}
.main-letters{
  margin-left: 450px;
  margin-top: 120px;
  
}
.main-buttons{
  background-color: #ff8400;
  border: none;
  font-weight: bold;
  color: white;
  width: 150px;
  height: 50px;
  overflow: hidden;
  white-space: nowrap;
}
.main-buttons:hover{
  background-color: #dd7200;
  color: white;
}

.credit-banner{
  height: 450px;
  background-color: white;
}

.me-auto{
  margin-left: 10px;
  font-weight: bold;
  font-size: 19px;
  overflow: hidden;
  white-space: nowrap;
}
.brand{
  color:coral;
  font-weight: 800;
}
.brand:hover{
  color:coral;
}

.second-banner{
  padding:200px;
  margin-left: 1150px;
  align-items: center;
  
}

.sec-title{
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  font-size: 40px;
}

.sec-buttons{
  font-size: 20px;
  background-color: #ecebeb;
  color: black;
  border: none;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px;
}

.sec-buttons:hover{
  background-color: #b3b3b2;
  color: black;
}

.sec{
  font-weight: bold;
  color:coral;
  overflow: hidden;
  white-space: nowrap;
  font-size: 20px;
}

.third-banner{
  padding:200px;
  background-color: #ffefde;
  align-items: center;
}
.third-banner-content{
  margin-left: 450px;
}

.third-detail{
  font-weight: bold;
  padding: 5px; /* 원하는 값으로 조정 (예: padding: 0 10px;) */
  margin: 0;
}
.third-detail2{
  padding: 0; /* 원하는 값으로 조정 (예: padding: 0 10px;) */
  margin: 0;
}

.third-box{
  border: none;
  height: 100px;
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px; 
}

.third-container{
  display: flex;
  
}

.fourth-banner{
  padding:200px;
  background-color: #eefdf1;
  align-items: center;
}

.fourth-banner-content{
  margin-left: 450px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.flea-cover{
  height: 350px;
  padding: 0 16px 0 16px;
  background-color: #FFF1AA;
  margin-top: 30px;
}

.flea-detail{
  font-size: 18px
}


.flea-cover-content{
  padding-top: 100px;
  max-width: 768px;
  margin: 0 auto;
}
.flea-list{
  padding-top: 64px;
  text-align:  center;
}

.flea-items{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

.card-imgs.img{
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  background-color: #F8F9FA;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}

.flea-title-div{
  margin-bottom: 40px;
}

.flea-list-title{
  font-weight: bold;
  font-size: 31px;
}

.flea-title{
  font-weight: bold;
  font-size: 33px
}
.card-desc{
  
}
.card-title{

}

.card-price{
  font-weight: bold;
}

.card-place{
  font-size: 12px;
  margin-bottom: 30px;
}

.nearby-cover{
  height: 350px;
  padding: 0 16px 0 16px;
  background-color: #f5ede8;
  margin-top: 30px;
}
.nearby-cover-content{
  padding-top: 100px;
  max-width: 768px;
  margin: 0 auto;
}
.nearby-title{
  font-weight: bold;
  font-size: 33px
}

.nearby-detail{
  font-size: 18px
}

.nearbyreview-box{
  margin-bottom: 30px;
  border: 1px solid #d7d8da;
  border-radius: 5px;
  width: 400px;
  margin-left: 50px;
  padding: 10px;
}

.nearbyreview-box:hover{
  background-color: #f3f3f3;
}

.nearby-stores1{
  padding: 23px;
  margin-top: 50px;
}
.nearby-stores2{
  padding: 30px;
  margin-right: 750px;
}
.nearby-stores-letters{
  font-weight: bold;
  text-align: center;
  margin-left: 230px;
}
.nearby-stores-letters1{
  font-weight: bold;
  text-align: center;
  font-size: 35px;
}

.nearby-stores1-content{
  margin-bottom: 80px;
  margin-top: 30px;
}
.nearby-stores2-content{
  text-align: center;
}

.nearbyreview-profile{
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  align-items: center;
}

.nearbyreview-profile-content{
  overflow: hidden;
  display: flex;
  flex: 1 1;
    padding-left: 0.625rem;
    flex-direction: column;
    align-items: flex-start;
  text-align: left;
}

.nearbyreview-img{
  width: 36px;
  height: 36px;
}

.nearbyreview-imgs-stores{
  width: 62px;
  height: 62px;
}

.nearbyreview-content-letters{
  text-align: left;
}
.nearbyreview-content{
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2 ;
  -webkit-box-orient: vertical;
}
.nearbyreview-stores{
  border-radius: 0.375rem;
    border: 0.0625rem solid var(--seed-semantic-color-divider-2);
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--seed-scale-color-gray-00);
    text-decoration: none;
    box-sizing: border-box;
    border: 1px solid rgb(236, 236, 236);
}
.nearbyreview-store-content{
    text-align: left;
    padding: 0.375rem 1rem 0.375rem 0.875rem;
    display: flex;
    flex-direction: column;
    flex: 1 1;
    overflow: hidden;
}
.nearbyreview-profile-nickname{
  font-weight: bold;
}

.nbyimg{
  width: 90px;
  height: 90px; 
  border-radius: 70%;
  overflow: hidden;
}

.nbyprofileimg{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nbystore{
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 10px;
}

.nbystore:hover{
  background-color: #f3f3f3;
}

.nbybotm{
  height: 1px;
  border-bottom: 1px solid gray;
}

.nbylocation{
  margin-left: 5px;
}

.nbycontent{
  text-align: left;
  padding: 0.375rem 1rem 0.375rem 0.875rem;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  overflow: hidden;
}
.container1{
  width: 700px;
}

.container2{
  width: 1100px;
}

.job-cover{
  height: 350px;
  padding: 0 16px 0 16px;
  background-color: #ffe2d0;
  margin-top: 30px;
}

.job-cover-content{
  padding-top: 100px;
  max-width: 768px;
  margin: 0 auto;
}

.job-stores1{
  margin-left: 930px;
  margin-top: 70px;
}

.job-stores-letters1{
  font-weight: bold;
}

.jobimg{
  width: 90px;
  height: 90px; 
  border-radius: 10%;
  overflow: hidden;
}

.jobanner1{
  background-color: #fff3e4;
  width: 768px;
  margin: auto;
  border-radius: 10px;
  height: 128px;
  overflow: hidden;
  white-space: nowrap;
}

.jobanner2{
  background-color: #cde4fa;
  width: 768px;
  margin: auto;
  border-radius: 10px;
  height: 128px;
  overflow: hidden;
  white-space: nowrap;
}

.jobanner1box{
  display: flex;
  align-items: center;
  gap: 29px;
  float:left;
  margin-top: 30px;
  margin-left: 40px;
  
}

.bannerletter1{
  margin-top: 10px;
  font-weight: bold;
  line-height: 1.3;
  font-size: 1.25rem;
  overflow: hidden;
  white-space: nowrap;
}

.bannerbtn1{
  width: 100px;
  font-size: .875rem;
  padding: 10px 5px;
  font-weight: bold;
  background-color: #f07c00;
  border-color: #f07c00;
}

.bannerbtn1:hover{
  background-color: #eb7900;
  border-color: #d87001;
}

.bannerbtn2{
  font-size: .875rem;
  padding: 10px 5px;
  font-weight: bold;
  color:rgb(255, 125, 32);
  background-color: #ffd1b2;
  border-color: #ffd1b2;
}

.bannerbtn2:hover{
  background-color: #fcc49e;
  border-color: #fcc49e;
  color:rgb(255, 125, 32);
}

.bannerbtn3{
  padding: 10px 5px;
  font-weight: bold;
  font-size: .875rem;
  background-color: #f07c00;
  border-color: #f07c00;
}

.bannerbtn3:hover{
  background-color: #e67700;
  border-color: #e67700;
}

.bannerbtns{
  margin-top: 40px;
  margin-left: 560px;
}
.bannerbtns2{
  margin-top: 45px;
  margin-left: 590px;
}

.job-button{
  font-size: 13px;
  font-weight: bold;
  background-color: #f07c00;
  border-color: #f07c00;
}

.job-button:hover{
  background-color: #e05c04;
  border-color: #e05c04;
}

.real-cover{
  height: 350px;
  padding: 0 16px 0 16px;
  background-color: #d2edfa;
  margin-top: 30px;
}

.realcontents{
  max-width: 48rem ;
  margin: 0 auto;
  padding: 0;
}

.real-title1{
  font-size: 1.625rem;
  line-height: 1.38;
  margin: 3.75rem 0 2.5rem;
  font-weight: bold;
}

.real-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.realitem-detail{
  margin-left: 1rem;
  margin-top: 0;
}

.realitem-box{
  padding-top: 0;
  padding: 1.25rem;
  flex-basis: 48%;
}


.realitem-box2{
  flex-direction: row;
  display: flex;
  cursor: pointer;
}

.realitem-imgbox{
  position: relative;
  min-width: 6.75rem;
  min-height: 6.75rem;
}

.realitem-imgbox2{
  z-index: -1;
  box-sizing: border-box;
    display: block;
    overflow: hidden;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.realitem-img{
  border-radius: 0.5rem;
  position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: auto;
    display: block;
    width: 0;
    height: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
}

.realitem-title{
  line-height: 1.32;
  font-size: 1.125rem;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical
}
.realitem-locate{
  line-height: 1.4;
  font-size: .875rem;
}
.realitem-price{
  line-height: 1.36;
  font-size: 1rem;
  font-weight: 700;
}

.realbanner{
  z-index: -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.75rem 0 4rem;
  padding: 1.75rem 1.5rem 1.75rem 2.0625rem;
  text-decoration: none;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    border-radius: 0.375rem;
    background-color: #def0f8;
    
}
.realbannerletter{
  display: flex;
    align-items: center;
}

.realbanner1{
  line-height: 1.3;
    font-size: 1.25rem;
    font-weight: 700;
    color: black;
    white-space: pre-line;
}

.active{}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

